.nav-link {
    text-transform: capitalize;
}

.endless-rotation {
    animation: endless_rotation 1s infinite;
}

@keyframes endless_rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.blinkable {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/** surcharge des couleurs par défaut du theme */
/* .dropdown-menu {
    background-color: #0a58ca;
    border-color: #0a58ca;
}
.dropdown-item:hover {
    background-color: rgb(69, 130, 236);
} */