.nav-link {
    text-transform: capitalize;
}

.endless-rotation {
    animation: endless_rotation 1s infinite;
}

@keyframes endless_rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.blinkable {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.tiltable {
    animation: tilt-n-move-shaking 0.25s linear infinite;
}


@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

/** surcharge des couleurs par défaut du theme */
/* .dropdown-menu {
    background-color: #0a58ca;
    border-color: #0a58ca;
}
.dropdown-item:hover {
    background-color: rgb(69, 130, 236);
} */