.server-detail {
    padding: 1vw;
    &-footer {
        .btn {
            padding: 0;
            width: 2vw;
            height: 2vw;
        }
    }
}

.services-container {
    &-label {
        display: table-cell;
        padding-right: 2vw;
        @media(orientation: portrait) {
            display: block;
        }
    }
    &-content {
        display: table-cell;
        width: 100%;
        @media(orientation: portrait) {
            display: block;
        }
        .form-group {
            label {
                padding-right: 2vw;
            }
        }
        .service-detail {
            padding: 1vw;
            width: 100%;
            .form-inline {
                .form-group {
                    width: 40%;
                    label {
                        width: 20%;
                    }
                    homeserver-cancelable-input-text {
                        width: 70%;
                    }
                    input {
                        width: 70%;
                    }
                }
            }
            &-delete {
                width: 10%!important;
            }
            @media(orientation: portrait) {
                border-style: solid;
                border-width: 1px;
                border-color: rgba(0, 0, 0, 0.125);
                margin-bottom: -1px;
                padding: 3vw;
                .form-inline {
                    .form-group {
                        width: 100%;
                        label {
                            width: 20%;
                        }
                        homeserver-cancelable-input-text {
                            width: 90%;
                        }
                        input {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}