<div class="sprite-list">
    <div *ngFor="let spriteItem of allSprites.displayList">
        <homeserver-iot-sprite-renderer [spriteToDisplay]="spriteItem" 
        (delete)="deleteSprite($event)" (edit)="displayPopupSpriteModification($event)"></homeserver-iot-sprite-renderer>
    </div>
</div>
<div class="edit-zone">
    <button class="btn btn-primary" (click)="displayPopupSpriteCreation()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>

<homeserver-popup #popupSpriteEditor title="Créer un nouveau sprite" [koButton]="true">
    <homeserver-iot-sprite-editor #spriteEditor></homeserver-iot-sprite-editor>
</homeserver-popup>