.collapsible {
  &-header {
    &-disabled {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      line-height: 1.5;
      padding: 1rem;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      color: #bdbdbd;
      & i {
        width: 2rem;
        font-size: 1.6rem;
        display: inline-block;
        text-align: center;
        margin-right: 1rem;
      }
    }
  }
}
