.pixel-on {
    background-color: pink;
}

.small-renderer .pixel {
    width: 5px!important;
    height: 5px!important;
}

.edit-renderer {
    
}

.edit-renderer .pixel {
    width: 30px!important;
    height: 30px!important;

    border-width: 1px;
    border-style: dashed;
    border-color: black;
}

.edit-renderer .pixel:hover {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}


.sprite-line-container {
    display: grid;
    grid-template-columns: 50px auto ;
    grid-gap: 10px;
}