<table class="table">
    <tr class="text-capitalize datagrid-header">
        <th *ngFor="let header of fieldConfigs" [ngClass]="{'sd-hidden': header.hideForSmallDevice, 'hd-hidden':header.hideForBigDevice}">
            <div *ngIf="header.hasDisplayName" (click)="sortBy(header)">{{header.displayName}}
                <span *ngIf="header.fieldName == dataSource.sortField" class="glyphicon " [ngClass]="{'glyphicon-sort-by-attributes-alt':dataSource.isReverseSort, 'glyphicon-sort-by-attributes' : !dataSource.isReverseSort}"></span>
            </div>
            <div *ngIf="header.isActionField" class="datagrid-header-cell-action">
                <button *ngIf="header.hasSaveButton" class="btn btn-primary btn-lg" (click)="innerSaveItems()" [disabled]="!dataSource.changeOccured">
                    <span class="glyphicon glyphicon-floppy-disk "></span></button>
            </div>
        </th>
    </tr>
    <tr *ngFor="let dataItem of dataSource.displayList">
        <td *ngFor="let header of fieldConfigs" [ngClass]="{'sd-hidden': header.hideForSmallDevice, 'hd-hidden':header.hideForBigDevice, 'datagrid-cell-zoomable':header.zoomable}" class="datagrid-row" (click)="zoomIn(header, dataItem)">
            <div *ngIf="header.isGlyphiconField" [ngClass]="{'disabled-data': !dataItem.enabled}">
                <span class="{{header.resolveData(dataItem)}}"></span>
            </div>
            <div *ngIf="header.isTextField" [ngClass]="{'disabled-data': !dataItem.enabled}">
                {{header.resolveData(dataItem)}}
            </div>
            <div *ngIf="header.isTextBox" [ngClass]="{'disabled-data': !dataItem.enabled}">
                <input type="text" [homeserverSDInputValue]="dataItem" [homeserverSDFieldDescriptor]="header" (homeserverSDInputValueChanged)="changeEventHandler($event)" />
            </div>
            <div *ngIf="header.isOnOffField">
                <homeserver-pretty-checkbox [activable]="dataItem" (change)="changeEventHandler(dataItem)"></homeserver-pretty-checkbox>
            </div>
            <div *ngIf="header.isLink">
                <a href="{{header.resolveData(dataItem)}}" target="_blank">{{header.resolveLinkLabel(dataItem)}}</a>
            </div>
            <div *ngIf="header.isActionField" class="datagrid-cell-action">
                <button *ngIf="header.hasSaveButton && !dataItem.readonly" class="btn btn-primary btn-lg" [ngClass]="{'btn-success': dataItem.changeOccured}" (click)="innerSaveItem(dataItem)" [disabled]="!dataItem.changeOccured"><span class="glyphicon glyphicon-floppy-disk "></span></button>
                <button *ngIf="header.hasDeleteButton && !dataItem.readonly" class="btn btn-danger btn-lg" (click)="innerDeleteItem(dataItem)"><span class="glyphicon glyphicon-trash"></span></button>
                <a *ngIf="header.hasExportButton" [homeserverAnchorExport]="dataItem"><span class="glyphicon glyphicon-cloud-download"></span></a>
                <homeserver-import-file-button *ngIf="header.hasImportButton" (fileChanged)="innerImportFile($event)" [associatedItem]="dataItem"></homeserver-import-file-button>
            </div>
        </td>
    </tr>
</table>