@import '../styles/variables.scss';
@import '../styles/shared.scss';
.datagrid {
    &-header {
        font-size: 1rem;
        &-cell-action {
            .btn {
                padding: 1vw;
                .alt {
                    font-size: 0.5rem;
                }
            }
        }
        th {
            vertical-align: middle;
        }
    }
    &-row {
        vertical-align: middle;
    }
    &-cell {
        &-action {
            /deep/ .btn {
                padding: 1.5vw;
            }
        }
        // &-zoomable:hover {
        //     // background: red;
        // }
    }
}