// positionnement et taille du menu
$menuBarLeft: 0.5vw;
$menuButtonWidth: 5vw;
$menuPortraitRatio:2.5;
// $submenuHeight:
// bleu de base
$classic-blue:#4285F4;
// vert de base
$classic-green:#5cb85c;
// gestion de la sélection
$default-selected-background:#80deea;
$default-hover-background:#e3f2fd;
$popupZindex:200;