<div>

    <div class="d-flex">
        <div class="align-self-center">
            <div>
                <span class="{{torrent.item.pseudoFileDescriptor | fileGlyphiconResolver}}"></span>
            </div>
        </div>
        <div class="align-self-center break-text torrent-infos">
            {{torrent.item.name}}
        </div>
    </div>
    <div class="d-flex sd-hidden">
        <div class="align-self-center">
            <div>
                <span class="glyphicon glyphicon-import"></span>
            </div>
        </div>
        <div class="align-self-center break-text torrent-infos">
            {{torrent.item.done | byteFormat}}/{{torrent.item.done | byteFormat}}
        </div>
    </div>

    <div class="progress">
        <div class="progress-bar" [ngClass]="{'progress-bar-success': torrent.item.completed}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': torrent.item.percentDone + '%'}">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
</div>