<div class="card edit-zone-target">
    <h3 class="card-header default-color white-text">Télécharger les fichiers</h3>



    <div class="card-block">
        <homeserver-album-renderer [albumDescriptor]="albumDescriptor"></homeserver-album-renderer>
        <div class="actions">
            <ul>
                <li>
                    <a class="btn btn-primary btn-sm" download="{{albumDescriptor.directoryDescriptor.name}}.tar" href="api/music/workingdirectories/{{albumDescriptor.directoryDescriptor.id}}">DownloadAll</a>
                </li>
            </ul>
        </div>
        <div>
            <homeserver-simple-datagrid [fieldConfigs]="headers" [dataSource]="trackList">
            </homeserver-simple-datagrid>
        </div>
    </div>
</div>

<div class="edit-zone">
    <button class="btn btn-primary btn-lg" (click)="finish()">
        <span class="glyphicon glyphicon-repeat"></span>
    </button>
</div>