@import '../styles/shared.scss';
$popupZindex:200;
.image-viewer {
    &-background {
        background-color: #BBBBBB;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        z-index: $popupZindex;
        opacity: 0.7;
    }
    &-body {
        position: fixed;
        top: 10px;
        bottom: 10px;
        right: 10px;
        left: 10px;
        text-align: center;
        z-index: $popupZindex+1;
        img {
            max-height: 100%;
        }
        @media(orientation: portrait) {
            img {
                max-width: 100%;
                margin-top: 25%;
            }
        }
        .action {
            position: absolute;
            &-left {
                &-middle {
                    left: 1vw;
                    top: 50%;
                }
                &-top {
                    top: 1vw;
                    left: 1vw;
                }
            }
            &-right {
                &-middle {
                    top: 50%;
                    right: 1vw;
                }
                &-top {
                    top: 1vw;
                    right: 1vw;
                }
            }
        }
        @media(orientation: portrait) {
            .circle {
                width: 10vw;
                height: 10vw;
                padding: 0;
            }
        }
        @media(orientation: landscape) {
            .circle {
                width: 3vw;
                height: 3vw;
                padding: 0;
            }
        }
    }
}