[Unit]
Description=Homeserver Java Service
After=syslog.target

[Service]
WorkingDirectory=/media/disk02/SHARE/homeserver-${project.version}
ExecStart=java -Dspring.profiles.active=prod -jar /media/disk02/SHARE/homeserver-${project.version}/home-server-ng-${project.version}.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target
