@import '../../common-gui/styles/variables.scss';
@import '../../common-gui/styles/shared.scss';
.home-server-logo {
    background-image: url("/assets/img/home.png");
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    background-size: 100% 100%;
    @extend .screencenter;
    opacity: 0.1;
}

.date-time {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 0);
    left: 50%;
    // top: 50%;
    position: absolute;
    bottom: 0;
    width: 100%;
    p {
        width: 100%;
        text-align: center;
        &.date {
            font-size: 2vw;
        }
        &.time {
            font-size: 4vw;
        }
    }
}