.steps-bar {
    .progress {
        background-color: #3b6b84;
        .progress-bar {
            height: 2rem;
        }
    }
    .step-label {
        color:white;
        position: relative;
        top:-1.7rem;
        width: 100%;
        text-align: center;
        .badge {
            margin-right: 5px;
        }
    }

}