:root {
  --default-padding: 10px;
  --menu-height: 100px;
}

.default-padding {
  padding: var(--default-padding);
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.red {
  color: var(--bs-form-invalid-color);
}

.green {
  color: var(--bs-form-valid-color);
}

.endless-rotation {
  animation: endless_rotation 1s infinite;
}

.blinkable {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


@keyframes endless_rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}