@import 'common-gui/styles/variables.scss';
.main-content {
    @media(orientation: landscape) {
        padding-left: $menuBarLeft*6 + $menuButtonWidth;
        /deep/ .page-content {
            padding-top: 4vw;
        }
    }
    @media(orientation: portrait) {
        /deep/ .page-content {
            padding-top: $menuButtonWidth*$menuPortraitRatio + 10vw;
        }
    }
}