<homeserver-steps-bar #stepsBar [steps]="steps"></homeserver-steps-bar>
<div *ngIf="steps.isCurrent(0)">
    <homeserver-completed-file-list (goToNextStep)="stepsBar.nextStep()"></homeserver-completed-file-list>
</div>

<div *ngIf="steps.isCurrent(1)">
    <homeserver-target-directory-list (stepBack)="stepsBar.previousStep()" (goToNextStep)="stepsBar.nextStep()"></homeserver-target-directory-list>
</div>

<div *ngIf="steps.isCurrent(2)">
    <homeserver-commit-move-request (returnToTarget)="stepsBar.previousStep()" (returnToFiles)="stepsBar.firstStep()"></homeserver-commit-move-request>
</div>