$square:30px;


.sprite-editor {
    &-matrix {
        border-style: solid;
        border-width: thin;
    }
    &-line {
        height: $square;
    }
    &-pixel {
        width: $square;
        border-style: solid;
        border-width: thin;
        &-on {
            background-color: #5a95f5;
        }
        &-off {
            background-color: lightgrey;
        }
    }
}