<div>
    <button class="btn btn-sm btn-secondary" (click)="innerRefreshCurrentDirectory()" *ngIf="options.allowRefresh"><span class="glyphicon glyphicon-refresh"></span></button>
    <button class="btn btn-sm btn-secondary" (click)="innerDisplayDirectoryCreation()" *ngIf="options.allowDirectoryCreation" [disabled]="!options.allowDirectoryCreationOnStarter && isCurrentDirectoryRoot"><span class="glyphicon glyphicon-plus"></span></button>
    <button class="btn btn-sm btn-danger" (click)="innerDisplayDirectoryDeleteConfirmation()" *ngIf="options.allowDeletion" [disabled]="!isFilesSelected || isCurrentDirectoryRoot"><span class="glyphicon glyphicon-trash"></span></button>
</div>