<div class="file-browser-currentpath">
    <a *ngFor="let item of pathStack" (click)="selectSubDirectoryFromStack(item)"><span class="glyphicon glyphicon-triangle-right" ></span>{{item.name}}</a>
</div>
<div class="file-browser-currentdirectory">
    <ul class="list-group directories">
        <li class="list-group-item justify-content-between" *ngIf="options.displayToolBar">
            <homeserver-file-browser-toolbar [options]="options" [isFilesSelected]="someFileSelected" [isCurrentDirectoryRoot]="pathStack?.length==1" (refreshCurrentDirectory)="refreshCurrentDirectory()" (displayDirectoryCreation)="displayDirectoryCreation()" (displayDirectoryDeletionConfirmation)="displayDirectoryDeleteConfirmation()"
                (selectAll)="selectAll()" (unSelectAll)="unselectAll()" (rename)="displayRenamePopup()" (download)="displayDownloadPopup()"></homeserver-file-browser-toolbar>
        </li>
        <li class="list-group-item justify-content-between" *ngIf="pathStack?.length>1" (click)="selectParentDirectory()">..</li>
        <li class="list-group-item justify-content-between" [ngClass]="{'selected': options.allowItemSelection && oneDirectory.selected}" *ngFor="let oneDirectory of directoryList.displayList" (click)="selectSubDirectoryFromList(oneDirectory.item)">
            <div class="d-flex">
                <div class="align-self-center file-selection" *ngIf="options.allowItemSelection">
                    <input type="checkbox" (click)="selectItem($event, directoryList, oneDirectory)" [checked]="oneDirectory.selected" />
                </div>
                <div class="align-self-center file-infos">
                    <div>
                        <span class="glyphicon glyphicon-folder-open"></span>
                    </div>
                </div>
                <div class="align-self-center file-name">
                    {{oneDirectory.item.name}}
                </div>
            </div>
        </li>
        <li class="list-group-item justify-content-between" [ngClass]="{'selected': options.allowItemSelection && oneFile.selected}" *ngFor="let oneFile of fileList.displayList">
            <div class="d-flex">
                <div class="align-self-center file-selection" *ngIf="options.allowItemSelection">
                    <input type="checkbox" (click)="selectItem($event, fileList, oneFile)" [checked]="oneFile.selected" />
                </div>
                <div class="align-self-center file-infos">
                    <div>
                        <span class="{{oneFile.item | fileGlyphiconResolver}}"></span>
                    </div>
                </div>
                <div class="align-self-center file-name">
                    <a (click)="displayFileFromExtension(oneFile.item)" [homeserverTooltip]="oneFile.item.size | byteFormat">{{oneFile.item.name}}</a>
                </div>
            </div>
        </li>
    </ul>
</div>

<homeserver-popup #popupCreateDirectory title="Création d'un nouveau répertoire" (ok)="confirmCreation()">
    <div class="md-form">
        <input [(ngModel)]="dirCreationRequest.directoryName" type="text" id="form6" class="form-control">
        <label class="active" for="form6">Nom du nouveau répertoire</label>
    </div>
</homeserver-popup>

<homeserver-popup #popupDeleteFile title="Suppression d'un fichier" (ok)="confirmDeletion()">
    <div class="md-form">
        <p class="card-text" *ngIf="nbFilesSelected==1">Êtes-vous sur de vouloir supprimer ce fichier ?</p>
        <p class="card-text" *ngIf="nbFilesSelected>1">Êtes-vous sur de vouloir supprimer ces {{nbFilesSelected}} fichiers ?</p>
    </div>
</homeserver-popup>

<homeserver-file-browser-rename #popupRenameFiles (confirmRename)="confirmRename($event)"></homeserver-file-browser-rename>

<homeserver-file-browser-download #popupDownloadFiles></homeserver-file-browser-download>

<homeserver-image-viewer #imageViewer></homeserver-image-viewer>

<homeserver-popup-player #popupPlayer></homeserver-popup-player>