@import '../common-gui/styles/variables.scss';
$sdRatio:1.5;
.fullscreen-kiosk {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: $popupZindex+100;
    background-color: white;
}

.hideKiosk {
    position: fixed;
    right: 1vw;
    bottom: 1vw;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    @media(orientation: landscape) {
        width: $menuButtonWidth;
        height: $menuButtonWidth;
        span.glyphicon {
            font-size: 2vw;
        }
    }
    @media(orientation: portrait) {
        width: $menuButtonWidth*$menuPortraitRatio*$sdRatio;
        height: $menuButtonWidth*$menuPortraitRatio*$sdRatio;
        span.glyphicon {
            vertical-align: middle;
            font-size: 8vw;
        }
    }
}