<div class="edit-zone-target">
    <homeserver-file-browser #fileBrowser [starterDirectory]="starterMockDirectory" [options]="fileBrowserOptions" (selectedDirectoryChange)="onSelectedDirectoryChange($event)"></homeserver-file-browser>
</div>
<div class="edit-zone">
    <button class="btn btn-primary btn-lg" (click)="innnerStepBack()">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button homeserverGoToTop></button>
    <button class="btn btn-primary" (click)="fileBrowser.refreshCurrentDirectory()">
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <button class="btn btn-primary btn-lg" (click)="gotoMoveAction()" [disabled]="!isTargetValid" [ngClass]="{'animated flip': isTargetValid}">
        <span class="glyphicon glyphicon-share-alt"></span>
    </button>
</div>