/* You can add global styles to this file, and also import other style files */

@import url("assets/css/bootstrap.min.mdb.css");
@import url("assets/css/glyphicons.css");
@import url("assets/css/mdb.min.css");
.btn {
    // padding-bottom: 0px;
    // padding-left: 0px;
    // padding-right: 0px;
    // padding-top: 0px;
    .glyphicon {
        // padding: 2vw;
    }
}

.btn.btn-lg {
    // @extend .btn;
}

.btn-xl {
    width: 100%;
    margin-bottom: 1vw;
    margin-top: 1vw;
    font-size: 3vw;
}

.xl {
    width: 95%;
}

.circle {
    border-radius: 50%;
}

// pour afficher du contenu texte désactivé
.disabled {
    &-data {
        font-style: italic;
        color: grey;
    }
}

.semi-fadeout {
    visibility: visible;
    opacity: 0.4;
    transition: visibility 0s 250ms, opacity 250ms linear;
}

.fadein {
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms linear;
}

.break-text {
    word-break: break-all;
}