<div class="card services-list">
    <h3 class="card-header default-color white-text">Informations sur le serveur</h3>
    <div class="common-borders">
        <div class="row">
            <div class="col-md-2"><strong>Nom de la machine</strong></div>
            <div class="col-md-4">{{serverStatus?.hostName}}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong>Version homeserverNG</strong></div>
            <div class="col-md-4">{{serverStatus?.version}}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong>Heure de démarrage homeserverNG</strong></div>
            <div class="col-md-4">{{serverStatus?.startUpTime}}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong>Système d'exploitation</strong></div>
            <div class="col-md-4">{{serverStatus?.operatingSystem}}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong>Lecteurs logiques</strong></div>
            <div class="col-md-4">
                <div *ngFor="let oneDrive of serverStatus?.drives">
                    {{oneDrive.name}}
                    <div class="progress">
                        <div class="{{oneDrive | driveUsageColor}}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': oneDrive.percentageUsed + '%'}">
                            {{oneDrive.usedSpace |byteFormat}} / {{oneDrive.totalSpace |byteFormat}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="xl">
    <button class="btn btn-danger btn-xl" (click)="shutdown()">
                <span><span class="glyphicon glyphicon-off text-align"></span> Eteindre le serveur</span>
            </button>
</div>


<homeserver-popup #popupConfirmation title="Eteindre le serveur" (ok)="confirmShutdown()">
    <p class="card-text">Êtes-vous sûr de vouloir éteindre le serveur ?</p>
</homeserver-popup>
<homeserver-popup #popupStopping title="Extinction du serveur">
    <p class="card-text">L'arrêt du serveur est en cours, ce qui va rendre ce site indisponible</p>
</homeserver-popup>