.menu-player-running-animated {
    animation: rotate_disck 1s infinite;
}




@keyframes rotate_disck {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}