<div class="card edit-zone-target">
    <h3 class="card-header default-color white-text">Décrire l'album</h3>
    <div class="card-block">
        <homeserver-album-renderer [albumDescriptor]="albumDescriptor"></homeserver-album-renderer>
        <div>
            <div class="form-group">
                <label for="exampleInputEmail1">Artiste</label>
                <input type="text" [(ngModel)]="albumDescriptor.artistName" placeholder="Nom de l'artiste" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Album</label>
                <input type="text" [(ngModel)]="albumDescriptor.albumName" placeholder="Nom de l'album" />
            </div>
        </div>
    </div>
</div>



<div class="edit-zone">
    <button class="btn btn-primary btn-lg" (click)="gotoAlbumArtSelection()" [disabled]="!albumDescriptor?.albumName?.length || !albumDescriptor?.artistName?.length"
        [ngClass]="{'animated flip': albumDescriptor?.albumName?.length && albumDescriptor?.artistName?.length}">
        <span class="glyphicon glyphicon-share-alt"></span>
    </button>
</div>