<div class="card edit-zone-target">
    <h3 class="card-header default-color white-text">Upload des morceaux</h3>
    <div class="card-block">
        <homeserver-album-renderer [albumDescriptor]="albumDescriptor"></homeserver-album-renderer>
        <div class="upload-zone">
            <homeserver-import-file-button (fileChanged)="prepareUploadFile($event)" [isMultiple]="true"></homeserver-import-file-button>
        </div>
    </div>
    <div class="card-block">
        <!--<ul class="list-group">
            <li class="list-group-item" *ngFor="let oneFile of filesToUpload">{{oneFile.name}}</li>
        </ul>-->
        <ul class="list-group edit-zone-target">
            <li class="list-group-item justify-content-between mp3-file" [ngClass]="{'mp3-file-selected': completedFile.selected}" *ngFor="let completedFile of filesToUpload?.displayList"
                (click)="filesToUpload.toggleItemSelection(completedFile)">
                <div class="d-flex">
                    <div class="align-self-center mp3-file-infos">
                        <div *ngIf="completedFile.item.isMp3">
                            <span class="glyphicon glyphicon-music"></span>
                        </div>
                        <div *ngIf="!completedFile.item.isMp3" class="text-warning">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </div>
                    </div>
                    <div class="align-self-center mp3-file-name" [ngClass]="{'text-warning': !completedFile.item.isMp3}">
                        {{completedFile.item.basicFile.name}}
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>


<div class="edit-zone">
    <button class="btn btn-danger btn-lg" [disabled]="!filesToUpload?.hasItemSelected" [ngClass]="{'animated bounce': filesToUpload?.hasItemSelected}"
        (click)="deleteSelectedFiles()">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
    <button class="btn btn-primary btn-lg" (click)="uploadTracks()" [disabled]="!filesToUpload.sourceList || filesToUpload?.sourceList?.length == 0"
        [ngClass]="{'animated flip': filesToUpload?.sourceList?.length > 0}">
        <span class="glyphicon glyphicon-share-alt"></span>
    </button>
</div>