.artist-thumb {
    /* max-width: 200px; */
    /* width: 200px;
    max-height: 200px; */
    /* min-height: 200px; */
    width: 200px;
}

.artist-thumb-name {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.artist-thumb-image {
    object-fit: cover;
    width: 198px;
    height: 200px;
}

@media (max-width: 480px) { 
    .artist-thumb {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 5fr;
      margin-top: 10px;
      align-items: center;
    }

    .artist-thumb div.card-body {
        width: 100%;
        overflow: hidden;
    }

    .card-img-top {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .artist-thumb-name {
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        padding-left: 15px;
        margin: initial !important;
    }

    .artist-thumb-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
  }
  