// gestion des checkbox en mode interrupteur
.pretty-on-off {
    display: table;
    div {
        display: table-cell;
        vertical-align: middle;
    }
    &-label {
        padding-left: 5px;
    }
    .onoffswitch {
        position: relative;
        width: 50px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        height: 20px;
        padding: 0;
        line-height: 20px;
        border: 2px solid #CCCCCC;
        border-radius: 20px;
        background-color: #eee;
        transition: background-color 0.3s ease-in;
    }
    .onoffswitch-label:before {
        content: "";
        display: block;
        width: 20px;
        margin: 0px;
        height: 20px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 28px;
        border: 2px solid #CCCCCC;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }
    .onoffswitch-checkbox:checked+.onoffswitch-label {
        background-color: #337AB7;
    }
    .onoffswitch-checkbox:checked+.onoffswitch-label,
    .onoffswitch-checkbox:checked+.onoffswitch-label:before {
        border-color: #337AB7;
    }
    .onoffswitch-checkbox:checked+.onoffswitch-label:before {
        right: 0px;
    }
    .onoffswitch-checkbox:disabled+.onoffswitch-label {
        //background-color: red;
        opacity: 0.65;
    }
    .onoffswitch-checkbox:disabled+.onoffswitch-label,
    .onoffswitch-checkbox:disabled+.onoffswitch-label:before {
        //border-color: red;
        opacity: 0.65;
    }
}