<div class="pretty-on-off">
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch_{{uniqueId}}" [(ngModel)]="activable.enabled" (click)="update()" [disabled]="activable.readonly">
        <label class="onoffswitch-label" for="myonoffswitch_{{uniqueId}}"></label>
    </div>
    <!--
    <div class="pretty-on-off-label" ng-hide="!activated">{{onLabel}}</div>
    <div class="pretty-on-off-label" ng-hide="activated">{{offLabel}}</div>-->
</div>