<div class="card edit-zone-target">
    <h3 class="card-header default-color white-text">Mettre à jour les tags</h3>



    <div class="card-block">
        <homeserver-album-renderer [albumDescriptor]="albumDescriptor"></homeserver-album-renderer>
        <div class="actions">
            <ul>
                <li>
                    <button class="btn btn-primary btn-sm" (click)="autoTrackNumber()">
            <span class="glyphicon glyphicon-sort-by-order"></span>
            <span>Numéro Auto</span>
            </button>
                </li>
                <li>
                    <button class="btn btn-primary btn-sm" (click)="autoRenameFilenameFromTags()">
            <span class="glyphicon glyphicon-transfer"></span>
            <span>Renommage auto</span>
            </button>
                </li>
            </ul>
        </div>
        <div>
            <homeserver-simple-datagrid [fieldConfigs]="headers" [dataSource]="trackList" (savedItem)="saveProperty($event)">
            </homeserver-simple-datagrid>
        </div>
    </div>
</div>

<div class="edit-zone">
    <button class="btn btn-primary btn-lg secondary-action circle" (click)="updateList()"><span class="glyphicon glyphicon-refresh"></span></button>
    <button class="btn btn-primary btn-lg main-action circle" (click)="updateAllTracks()"><span class="glyphicon glyphicon-share-alt"></span></button>
</div>