<div class="popup" [@flyInOut]="currentState">
    <div class="popup-background">
    </div>
    <div class="popup-body">

        <div class="card">
            <h3 class="card-header default-color white-text">{{title}}</h3>
            <div class="card-block">
                <ng-content></ng-content>
            </div>
            <div *ngIf="footer" class="card-footer text-muted default-color white-text">
                <button *ngIf="okButton" class="btn btn-secondary" (click)="innerOk()">{{okButtonLabel}}</button>
                <button *ngIf="koButton" class="btn btn-secondary" (click)="close()">{{koButtonLabel}}</button>
            </div>
        </div>

    </div>
</div>