<div class="card card-block filters">
    <h4 class="card-title">Sélection des fichiers</h4>
    <div *ngIf="!uploadTracksMode && !serverTracksMode">
        <button class="btn btn-xl btn-success" (click)="selectServerTracksMode()">
            <span class="glyphicon glyphicon-eye-open"></span> From Server</button>
        <button class="btn btn-xl btn-warning" (click)="selectUploadTracksMode()">
            <span class="glyphicon glyphicon-cloud-upload"></span> From Local</button>
    </div>

    <div *ngIf="serverTracksMode">
        <homeserver-available-tracks (goToNextStep)="tracksSelected()"></homeserver-available-tracks>
    </div>
    <div *ngIf="uploadTracksMode">
        <homeserver-upload-tracks (goToNextStep)="tracksSelected()"></homeserver-upload-tracks>
    </div>
</div>